* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: #f9f9f9;
}

.container {
  width: 95%;

  .wrapper {
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 100px 100px 50px 68px;
  }
}

@import './media.module.scss';
