* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: #f9f9f9;
}

.container {
  width: 95%;

  .wrapper {
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 100px 50px 68px;
  }
}

.articles {
  max-width: 70vh;
  margin-top: -50px;
  max-height: 1000px;
  overflow: scroll;
  overflow-x: hidden;
}

@import './media.module.scss';
