.about {
  width: 500px;
  word-wrap: break-word;
  border-right: 3px solid rgb(224, 223, 223);
  padding: 0 25px 0 0;

  .name {
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    color: #202020;
    padding: 15px 0;
  }

  .title {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 52px;
    color: #aaaaaa;
  }

  .about__me {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
  }

  h5 {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 52px;
    color: #202020;
  }

  img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
  }
}

@media screen and (min-width: 1487px) {
  .about {
    width: 800px;

    .about__me {
      font-size: 22px;
    }

    h5 {
      font-size: 30px;
    }

    img {
      max-width: 800px;
    }
  }
}

@media screen and (max-width: 750px) {
  .about {
    border-right: 0;
  }
}
